.obsidian/workspace.json
.obsidian/workspace-mobile.json

.obsidian/.trash/

.obsidian/plugins/**/*.log
.obsidian/cache/

.DS_Store
Thumbs.db
PLAN.md

env/
venv/
ENV/
env.bak/
venv.bak/

**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/